//# provide here the path for these 3 required parameters
// for example: params.reads = "$PWD/test_data" or put in absoluate path
params.reads = null
params.outdir = null
params.primer = null

//# Basic CPU usage grouping
params.maxcpus = 8
params.medcpus = 4
params.mincpus = 2

//# Basic memory usage grouping
params.maxmems = 16.GB
params.medmems = 2.GB

//# set the max tasks (running in parallel) for cutadapt process
params.maxcutadapts = 4 
params.cutadapt_maxerror = 0 //require exact matching
params.cutadapt_minlength = 1 //delete empty sequences after primer removal
params.cutadapt_thread = 1 //num of threads for each cutadapt command
//num of concurrent threads allowed for running cutadapt step
//this need to take into consideration maxcutadapts and cutadapt_thread as well
params.cutadapt_concurrent = 10
params.cutadapt_long = true //flag if reads can be longer than amplicons


//# default parameters for pair_merging
//# we recommend using these default setting unless you're strongly advised otherwise
params.merging_minquality = 26
params.merging_maxlength = 325
params.merging_minoverlap = 20

//# default parameters for denoising
//minsize is the minimum frequency required for a read
//the alpha parameter determines the threshold level of dissimilarity between 
//frequent and infrequent reads for exclusion of infrequent reads, for more information, refer to the link
//https://www.drive5.com/usearch/manual/cmd_unoise3.html
params.denoising_minsize = 2
params.denoising_alpha = 4

profiles {

    test {
        params.outdir = "$PWD/test_output"
        params.reads = "$PWD/test_data"
        params.primer = "$PWD/test_data/451_subset_primer_pairs"
    }

}