//# provide here the path for these 3 required parameters
// for example: params.reads = "$PWD/test_data" or put in absoluate path
params.reads = null
params.outdir = null
//this is a plain 4 column (tab delimited) text file with the format as: 
//'primer', forward_primer, reverse complement of reverse_primer and primer name
//i.e., primer  CACGCATCATTTCGCAAAAGC   AGTACGTTCGGCCTCTTTCAG   OG0001079primerGroup1
//by default we use reverse complement of reverse_primer in primer file
params.primer = null

//# Basic CPU usage grouping
params.maxcpus = 8
params.medcpus = 4
params.mincpus = 2

//# Basic memory usage grouping
params.maxmems = 16.GB
params.medmems = 2.GB

//# set the max tasks (running in parallel) for cutadapt process
params.maxcutadapts = 4 
params.cutadapt_thread = 4 //num of threads for each cutadapt command
/* for the above setting to work fully, you will need 16 cores (more or less), adjust your 
setting accordingly */
params.cutadapt_maxerror = 0 //require exact matching
params.cutadapt_minlength = 1 //delete empty sequences after primer removal
params.cutadapt_long = true //flag if reads can be longer than amplicons; set to false if not
// note: leave the flag to true still works even if your reads is shorter than amplicons 
// check the link below for details
//https://cutadapt.readthedocs.io/en/stable/recipes.html#trimming-amplicon-primers-from-paired-end-reads


//# default parameters for pair_merging
//we recommend using the default merging_minquality 26, and feel 
//free to adjust merging_maxlength, merging_minoverlap values for your reads
params.merging_minquality = 26
params.merging_maxlength = 325
params.merging_minoverlap = 20

//# default parameters for denoising
//minsize is the minimum frequency required for a read
//the alpha parameter determines the threshold level of dissimilarity between 
//frequent and infrequent reads for exclusion of infrequent reads, for more information, refer to the link
//https://www.drive5.com/usearch/manual/cmd_unoise3.html
params.denoising_minsize = 2
params.denoising_alpha = 4

// MultiQC report related config files
params.multiqc_config = "bin/multiqc_config.yaml"
params.custom_logo = "bin/step_mothur_logo.png"
params.multiqc_header = [
    "Pipeline version": "1.2.2",
    "Contact E-mail": "qtl7@cdc.gov",
    "Project Type": "HMAS Application",
    "Sequencing Platform": "MiSeq High Output V3",
    "Sequencing Setup": "2x250",
    "Assay": "ASY-SMNLA v1",
    "Lot ID": "20268_ORP_21.O#",
    "oligo file": "Sal_v1.0.oligo"
]
params.pipeline_version = params.multiqc_header["Pipeline version"]

profiles {

    test {
        params.outdir = "test_output"
        params.reads = "$PWD/test_data"
        params.primer = "test_data/451_subset_primer_pairs"
    }

    ci {
        params.outdir = "test_output"
        params.reads = "$PWD/test_data"
        params.primer = "test_data/451_subset_primer_pairs"

        params.maxcutadapts = 2
        params.cutadapt_thread = 1

        params.maxcpus = 2
        params.medcpus = 2
        params.mincpus = 2
        params.maxmems = 4.GB
        
        process {
            cpus = 2
            memory = '4 GB'
            time = '1h'
        }
    }

}

//Default local CPU/memory settings. Adjust as needed.
//Comment out the whole block if you want to use all available resources
/*
executor {
   $local {
       cpus = 16
       memory = '32 GB'
   }
}
*/
